.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 5vh;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer-logo img {
  height: 5rem;
}

.footer-logo p {
  color: #383838;
  font-size: 2rem;
  font-weight: 700;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  color: #252525;
  font-size: 1rem;
}

.footer-links li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  gap: 1rem;
}

.footer-icons-container {
  padding: 0.5rem 0.5rem 0.5rem;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  color: #1a1a1a;
  font-size: 1rem;
}

.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 1rem;
  height: 0.05rem;
  background: #c7c7c7;
}

@media screen and (max-width: 820px) {
  .footer {
    gap: 2rem;
  }

  .footer-logo {
    gap: 1rem;
  }
  .footer-logo img {
    height: 3rem;
  }

  .footer-logo p {
    font-size: 1.5rem;
  }

  .footer-links {
    gap: 1rem;
    padding: 0;
  }

  .footer-links li, .footer-copyright {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    gap: 1.25rem;
  }
  .footer-links {
    gap: 0.75rem;
  }

  .footer-links li, .footer-copyright {
    font-size: 0.75rem;
  }

  .footer-icons-container {
    padding: 0.5rem 0.5rem 0.25rem;
  }
}
