.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 15vh;
  overflow: hidden;
}

.popular h1 {
  color: #171717;
  font-size: 3rem;
  font-weight: 600;
}

.popular hr {
  width: 20%;
  height: 0.05rem;
  border-radius: 1rem;
  background: #252525;
}

.popular-item {
  width: fit-content;
  margin-top: 10vh;
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1160px) {
  .popular {
    margin-top: 8vh;
  }

  .popular h1 {
    font-size: 2.5rem;
  }

  .popular-item {
    margin-top: 5vh;
    gap: 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .popular {
    margin-top: 5vh;
  }
  .popular-item {
    gap: 1.75rem;
  }
}

@media screen and (max-width: 960px) {
  .popular-item-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .popular-item {
    align-self: flex-start;
    padding: 0 5vw;
  }

  .popular h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .popular h1 {
    font-size: 1.5rem;
  }

  .popular-item {
    margin-top: 3vh;
  }
}
